extends layout

block title
  title Update Image

block content
  h1 Update Image
  form(action=`/image/${image.id}` method='post')
    input(type='text' name='fileName' value=`${image.fileName}`)
    button(type='button' onclick=`updateImage("${image.id}")`) Update

.script
  async function updateImage(id) {
    try {
      const response = await fetch(`/image/${id}`, {
        method: 'POST',
      body: JSON.stringify({ fileName: document.getElementById('fileName').value }),
      });
      const data = await response.json();
      window.location.href = `/image/${id}`;
    } catch (error) {
      console.error(error);
    }
  }
